header{
    text-align: center;
}

footer{
    background-color: lightgrey;
    text-align: center;
    padding: 25px;
    clear: both;
}

nav{
    background-color: black;
    padding: 15px;
    margin-right: 10px;
}

nav div.menu-item{
    color: white;
    padding-right: 225px;
    display: inline;
}



div.sidebar{
    background-color: black;
    color: white;
    margin-top: 50px;
    margin-right: 80px;
    width: 250px;
    height: 700px;
    float: left;
}

.courses{
    columns: 3;
    margin-top: 50px;
    column-gap: 0px;
    text-align: center;
    margin-right: 10px;
}

.course{
    border-radius: 20px;
    border: black 1px solid;
    font-size: larger;
    font-style: italic;
}

.articles{
    columns: 3;
    column-gap: 50px;
    padding-top: 50px;
    font-size: larger;
    font-style: italic;
}

img{
    width: 225px;
}