body{
    background-color: lightgrey;
}
nav{
    color: white;
    background-color: rgb(85, 85, 85);
}
div.nav-item{

}
div.container{
    background-color: lightgreen;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    height: 800px;
}
div.fixed-sidebar{
    width: 125px;
    height: 450px;
    box-sizing: border-box;
    border: black 2px solid;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: -620px;
    padding: 4px 10px;
}
div.fixed-sidebar img{
    width: 100px;
    height: 100px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

li{
    list-style: none;
}